footer{
    background-color: var(--color-black);
    height: 96px;
    width: 100%;
}

.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.github{
    font-size: 20px;
    color: #ffff;
}

